[submodule "submodules/sga"]
	path = submodules/sga
	url = git://github.com/jts/sga.git
[submodule "submodules/libzmq"]
	path = submodules/libzmq
	url = git://github.com/zeromq/libzmq.git
[submodule "submodules/cppzmq"]
	path = submodules/cppzmq
	url = git://github.com/zeromq/cppzmq.git
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = git://github.com/google/protobuf.git
[submodule "submodules/bamtools"]
	path = submodules/bamtools
	url = git://github.com/pezmaster31/bamtools.git
[submodule "submodules/google-sparsehash"]
	path = submodules/google-sparsehash
	url = git://github.com/justinsb/google-sparsehash.git
[submodule "submodules/bfc"]
	path = submodules/bfc
	url = git://github.com/lh3/bfc.git
[submodule "submodules/rocksdb"]
	path = submodules/rocksdb
	url = git://github.com/facebook/rocksdb.git
[submodule "submodules/mongoose"]
	path = submodules/mongoose
	url = git://github.com/Zhicheng-Liu/mongoose.git
